{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
    <div class="card text-center" style="border-radius: 25px 25px 25px 25px">
        <div class="card-header" style="border-radius: 25px 25px 25px 25px" align="left">
            <h3 style="font-family: 'Bodoni MT'">Delecte Customer </h3>
             <table class="table border-collapse: collapse; text-white "
                       style="border-radius: 25px 25px 0px 0px; background-color: #6c757d ; vertical-align: middle;">
                   <tr>
                            <th><b><h5>รหัสลูกค้า</h5></b></th>
                            <th><b><h5>ชื่อ</h5></b></th>
                            <th><b><h5>นามสกุล</h5></b></th>
                            <th><b><h5>ที่อยู่</h5></b></th>
                            <th><b><h5>เบอร์โทร</h5></b></th>
                            <th><b><h5>เพศ</h5></b></th>
                            <th><b><h5>อาชีพ</h5></b></th>
                        </tr>
                        <tr>
                            <td><h5>{{ Customer.cid }}</h5></td>
                            <td><h5>{{ Customer.name }}</h5></td>
                            <td><h5>{{ Customer.surname }}</h5></td>
                            <td><h5>{{ Customer.address }}</h5></td>
                            <td><h5>{{ Customer.telephone }}</h5></td>
                            <td><h5>{{ Customer.gender }}</h5></td>
                            <td><h5>{{ Customer.carreer }}</h5></td>
                        </tr>
                </table>
                <br>
                <form method="post">
                {% csrf_token %}
                <input  type="submit" value="Confirm" class="btn-danger"
                       onclick="return confirm('โปรดยืนยันการลบอีกครั้ง');"/>
                <input type="button" value="Cancel" class="btn-secondary" onclick="location.href='{% url "Customer" %}' "/>
            </form>
        </div>
        </div>
    </div>
{% endblock %}