{% extends "../base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
    <table class="table border-collapse: collapse; text-white "
               style="border-radius: 25px 25px 25px 25px; background-color: #6c757d ; vertical-align: middle;">
            <tr>
                <th><b><h3 style="font-family: 'Bodoni MT'" align="center">รายการข้อมูลสินค้า</h3></b></th>
            </tr>
    </table>
    <div style="border-radius: 25px 25px 25px 25px">
        <table class="table border-collapse: collapse; text-white "
               style="border-radius: 25px 25px 0px 0px; background-color: #6c757d ; vertical-align: middle;">
            <tr>
                <th><b><h5 style="font-family: 'Bodoni MT'">รหัสสินค้า</h5></b></th>
                <th><b><h5 style="font-family: 'Bodoni MT'">ชื่อ</h5></b></th>
                <th><b><h5 style="font-family: 'Bodoni MT'">ยี่ห้อ</h5></b></th>
                <th><b><h5 style="font-family: 'Bodoni MT'">ราคา</h5></b></th>
                <th><b><h5 style="font-family: 'Bodoni MT'">จำนวนคงเหลือ</h5></b></th>
                <th><b><h5 style="font-family: 'Bodoni MT'">ชื่อประเภทสินค้า</h5></b></th>
                <th><h5 align="center"><a href="{% url 'newGoods' %}"><i class="fa fa-plus-circle btn btn-lg btn-light "
                                                                         style="color: #6c757d; vertical-align: middle"></i></a>
                </h5></th>
            </tr>
            {% for Goods in productList %}
                <tr>
                    <td><h5 style="font-family: 'Bodoni MT'">{{ Goods.gid }}</h5></td>
                    <td><h5 style="font-family: 'Bodoni MT'">{{ Goods.name }}</h5></td>
                    <td><h5 style="font-family: 'Bodoni MT'">{{ Goods.brand }}</h5></td>
                    <td><h5 style="font-family: 'Bodoni MT'">{{ Goods.price }}</h5></td>
                    <td><h5 style="font-family: 'Bodoni MT'">{{ Goods.net }}</h5></td>
                    <td><h5 style="font-family: 'Bodoni MT'">{{ Goods.goodsCategory.gc_name }}</h5></td>
                    <td align="center">
                        <a href="{% url 'showOneGoods' Goods.gid %}"><i class="fa fa-search"
                                                                        style="color: #e5e6e7"> </i></a>
                        <a href="{% url 'updateGoods' Goods.gid %}"><i class="fa fa-tools" style="color: #e5e6e7"> </i></a>
                        <a href="{% url 'deleteGoods' Goods.gid %}"><i class="fa fa-trash "
                                                                       style="color: rgba(255,44,15,0.72)"> </i></a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}