{% extends "base.html" %}
<STYLE TYPE="TEXT/CSS"><!--
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
</STYLE>
{% load static %}
{% block content %}
     <div class="row" >
  <div class="col-sm-1">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >

    </div>
  </div>
    <div class="col-sm-10">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; " >
      <div class="card-body">
        <h1 class="card-title" style="font-family: 'Bodoni MT'" align="center">"อีกคำสำคัญของชีวิต"</h1><br><br><br>
        <h5 class="card-title" style="font-family: 'Bodoni MT'">&emsp;&emsp;&emsp;มีไหม “คำ” ที่สำคัญในชีวิตเรา? หรือ ถ้าให้เลือกสักคำที่คิดว่า
            คำนี้มีค่ามีความหมายต่อชีวิต เป็นคำที่สะท้อนความเป็นเรา เป็นความเชื่อ คำที่อาจกำหนดชีวิตเราได้ ทั้งในวันนี้และอนาคต หรือในอีกแง่
            เป็นคำที่เรามักท่องจำขึ้นใจ ให้ระลึก เตือนตัวเอง เรามีสักคำไหมในทำนองนี้ คำนั้นคืออะไร?<br><br>

            &emsp;&emsp;&emsp;เป็นคำถามที่ดูยาก และกว้างไปหน่อย แต่อยากให้ลองทบทวนดู มันอาจเป็นคำเช่น ความสุข, ความรัก, ความสงบ,
            ความพอดี, ครอบครัว, อนาคต, ตัวเอง, ศิลปะ, ฟุตบอล, กอล์ฟ, เงิน, รวย, สวย-หล่อ, หมา, แมว หรืออื่น ๆ…<br><br>

            &emsp;&emsp;&emsp;โดยตัวอย่าง อาจพอทำให้เรานึกออกว่า ทุกวันนี้เรามีคำสำคัญคำไหนที่สะท้อนชีวิตหรือความเป็นเราได้ดังที่กล่าวไป
            ไม่ว่าจะเป็นเราในตอนนี้ ช่วงนี้ หรือในทุกวันตาม ขยายความเพิ่มให้อีกหน่อย สมมติว่าคำสำคัญคือคำว่า “ความสุข”
            คำนี้ก็จะอยู่ในใจเราเสมอ อาจหมายถึงเรามีชีวิตอยู่บนแนวทาง สุขนิยม ทำอะไรก็ได้ที่มีความสุข เลือกหนีความขัดแย้ง
            ความกดดัน ใด ๆ ก็ตามที่เริ่มทำให้เราไม่สุข ซึ่งความหมายของคำสำคัญก็จะสะท้อนหลายอย่างในชีวิต ทั้งการดำเนินชีวิต
            และการ “เลือก” ทำสิ่งต่าง ๆ ในวันนี้และอนาคต<br><br>

            &emsp;&emsp;&emsp;โดยส่วนตัวแล้วเมื่อทบทวนดู แต่ละช่วงเวลาและการเรียนรู้ย่อมทำให้คำสำคัญของชีวิตมีหลายคำ
            บ้างก็ยังอยู่ บ้างก็ไม่สำคัญแล้ว แต่ปัจจุบันหลายคนคงพอเดาได้กับคำว่า “เปลี่ยน” ที่ไม่ได้หมายความว่าผมจะต้องเปลี่ยนตลอดเวลา
            หรือไม่ทำอะไรเดิม ๆ เลย ตรงกันข้ามผมใช้ชีวิตค่อนข้างจะเป็นรูปแบบพอสมควร เพียงแต่หมายถึงเข้าใจการ “เปลี่ยน” และพร้อมจะเปลี่ยน
            เพราะว่าวันนี้เรายังไม่ได้ดีที่สุดเท่านั้นเอง อีกทั้งแม้จะพึงพอใจเรื่องใด แต่นานไปสิ่งแวดล้อมย่อมเปลี่ยนแปลง รวมทั้งตัวเราเองก็เปลี่ยนไปตามกาลเวลา
            ไม่ว่าจะสังขารหรือการดำเนินชีวิต แต่นี่ก็เป็นเพียงหนึ่งในคำสำคัญของผม ที่อาจไม่ใช่ทั้งหมดและใครก็ไม่จำเป็นต้องมาเหมือนกัน ประเด็นคือมันยังไม่ใช่
            อีกคำสำคัญของชีวิต…<br><br>
            <div align="center">
              <img src="{% static 'images/dg.png' %}" class="rounded-circle" alt="Cinque Terre"
             style="width:200px; height: 200px; border-radius: 25px 25px 25px 25px;">
          </div><br>
            <h2><p>อีกคำสำคัญของชีวิต</p></h2><br>
             <h5>&emsp;&emsp;&emsp;ไม่ว่าคำสำคัญของเราวันนี้จะเป็นคำว่าอะไร หรือ “เรื่องอะไร” ก็ตาม จะมีแล้วหรือยังไม่มีก็ได้ แต่อย่างแบ่งปัน หรือนำเสนอว่า
            ชีวิตคนเราควรมีคำนี้อยู่ด้วยเสมอ ซึ่งเชื่อว่าควรเป็นอีกคำสำคัญของชีวิตเราทุกคน และหากชีวิตนี้เราขาดคำนี้ น่าจะทำให้เราดำเนินชีวิตไปบนความยากลำบาก
            และมีมุมดำมืดบางอย่างไปตลอดกาลโดยที่รู้ตัวหรือไม่ก็ตาม คำนั้นคือ…<br><br>

            “อภัย” หรือการให้อภัย โดยไม่ว่าจะเป็นต่อ คน สัตว์ สิ่งของ ไปจนถึงสิ่งที่จับต้องไม่ได้ ซึ่งนัยหนึ่งของการให้อภัยมีความละเอียดอ่อนมากกว่าที่เราบางคนเคยคิด
            และสิ่งสำคัญหนึ่งที่ต้องไม่ลืม คือ “การให้อภัยตัวเอง”<br><br>
             <h2><p>ทำไมต้องอภัย?</p></h2><br>
            <h5>&emsp;&emsp;&emsp;เพราะไม่ว่าคำสำคัญในชีวิตเราจะเป็นคำว่าอะไร แต่หากไม่มีคำนี้อยู่ อาจทำให้เรื่องอื่น ๆ หรือคำสำคัญอื่นของเรามีปัญหา มีอุปสรรค เช่น ถ้าคำสำคัญเราคือ “ความสุข”
                 ใจเราคงสุขไม่ได้หากไม่รู้จักอภัย, “ความรัก” หากขาดการให้อภัยรับรองได้ว่ารักนั้นยากจะยืนยาว หรือหากคำสำคัญของชีวิต เกี่ยวข้องกับความสำเร็จ
                 การอภัยตนเองและผู้อื่น ก็คือ ส่วนสำคัญในการยอมรับ เรียนรู้ เพื่อก้าวหน้าต่อไปให้รวดเร็วสู่ความสำเร็จ แม้แต่ในคำที่อาจเป็นนามธรรม
                 ย่อมมีความข้องเกี่ยวกับความคิด การตัดสินใจ ความผิดพลาดใด ๆ ก็ตามอันย่อมส่งผลไม่โดยตรงก็โดยอ้อม<br><br>

            &emsp;&emsp;&emsp;เราอาจจะนึกออกในภาพกว้าง ๆ ว่า “อภัย” สำคัญอย่างไร แต่หากเราเลือกที่จะให้มันเป็น “คำสำคัญ” ที่อยู่ในใจ
                 ในห้วงคิดเราเสมอ เราจะพบเห็นความละเอียดอ่อน และความสุขจากคำนี้ได้อีกมาก<br><br>

            &emsp;&emsp;&emsp;เช่น เราอาจไม่พอใจแฟนเราที่ไม่เก็บของ ไม่กวาดบ้าน มันอาจเล็กน้อยที่เราไม่ถึงกับโกรธ
                 ไม่ได้บ่น โวยวาย แต่มันจะสะสมเป็นตะกอนในใจ เมื่อวันหนึ่งมันล้นออกมา เราก็มีโอกาสจะต่อว่าเขายกใหญ่ในเรื่องเล็ก ๆ
                 จนเขาไม่อาจเข้าใจว่าทำไมต้องโกรธขนาดนั้น เพราะไม่มีใครรับรู้ถึงการสะสมของตะกอนใจ แม้กระทั่งเราเองในหลายครั้ง หรือการไม่พอใจ
                 เพื่อนร่วมงาน, ลุกน้อง, หัวหน้า, เพื่อนสนิท, ญาติพี่น้อง ใครก็ตาม “ทันทีที่เรานึกได้ว่า อภัยให้เขาไป” ในเรื่องเล็ก ๆ เหล่านั้น
                 ทุกอย่างมันจะคล้ายชะล้างหายไปทันที ไม่มีตะกอน นี่คือหนึ่งตัวอย่างผลเสียที่ขยายความไปได้ในอีกหลายเรื่องของชีวิต หากได้ลองทบทวนหรือปฏิบัติได้จริง<br><br>

            &emsp;&emsp;&emsp;และเมื่อเป็นคำสำคัญได้จริง เราระลึกบ่อยเสมอมา หากวันใดเกิดเหตุการณ์ที่ใหญ่ขึ้นทั้งจากบุคคล
                 หรือไม่ใช่บุคคล เราก็จะอภัยได้ง่ายกว่า เร็วกว่า จิตใจฟื้นคืนได้ดีกว่า มันคล้ายกับร่างกายที่ได้ออกกำลังมาสม่ำเสมอ<br><br>

            &emsp;&emsp;&emsp;การอภัยให้ตนเองก็เช่นกัน แน่นอนเบื้องต้นก็คือในความผิดพลาดต่าง ๆ แต่ในมุมที่ละเอียดกว่า คือ อภัยในทุกความอับอาย, การด้อยค่า, ความสำคัญผิด,
                 ความเข้าใจผิด, ในสิ่งต่าง ๆ ทั้งในการกระทำ และทางใจ อาจจะคิดได้ในทันที หรือยังไม่ได้ในตอนนี้ก็ตาม อีกทั้งบางเรื่องที่เราเฝ้าบอกตัวเองว่า
                 “ไม่ได้โกรธ ไม่ได้เคือง” แต่กลับยังไม่ลืม นั่นเพราะแท้แล้วเราไม่ได้ อภัย…<br><br>

            &emsp;&emsp;&emsp;ทั้งสิ้นเรื่องนี้ ดูเข้าใจง่ายหรืออ่านแล้วหลายคนคงอยู่บนความรู้สึกที่ว่า เรื่องการให้อภัย ก็ใช่แหละ… แต่มันจะต่างกันหากเรามองว่านี่คือคำสำคัญของชีวิต
                 และนำมันไปใช้จริงจัง เพราะในแต่ละวันเชื่อได้ว่า เรามีอะไรให้อภัยได้หลาย ๆ ครั้ง ตั้งแต่เรื่องเล็กไปจนเรื่องใหญ่ ซึ่งสามารถทำให้จิตใจเราดีขึ้นทันทีได้อย่างประหลาด<br><br>

            &emsp;&emsp;&emsp;เหมือน ณ จุดนี้หากหยุดคิด และทบทวนดู อะไรที่กวนใจ ข้องใจในช่วงนี้หรือที่เพิ่งผ่านมา แค่เรื่องเล็ก ๆ ก็ตาม ลองพูดหรือบอกในใจกับตัวเองเบา ๆ
                ก็ได้ว่า “อภัยให้…เถอะ” เราคงพอรู้สึกได้ทันทีว่าทำไมคำนี้ควรเป็นอีกคำสำคัญของชีวิตเรา</h5></h5><br><br>
            <div align="right" style="color: #000000">
                <a href="https://sirichaiwatt.com/" target="_blank" class="text-black">เครดิต : hhttps://1th.co/go5Jy5Jy5Jy</a>
            </div>
        </h5>
      </div>
    </div>
  </div>
    <div class="col-sm-1">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
    </div>
  </div>
    </div><br>

{% endblock %}