{% extends "base.html" %}
<STYLE TYPE="TEXT/CSS"><!--
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
</STYLE>
{% load static %}
{% block content %}
     <div class="row" >
  <div class="col-sm-1">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
  </div>
  </div>
  <div class="col-sm-10">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; " >
      <div class="card-body">
        <h1 class="card-title" style="font-family: 'Bodoni MT'" align="center">"วันนี้เสื้อคู่ วันหน้าผ้าขี้ริ้ว"</h1><br><br><br>
        <h5 class="card-title" style="font-family: 'Bodoni MT'">&emsp;&emsp;&emsp;มีเสื้อคู่ไหม? ใส่ครั้งสุดท้ายเมื่อไร? ยินดีด้วยถ้าเพิ่งใส่ไปไม่นาน
            แต่ไม่ต้องเสียใจสำหรับใครที่ไม่ได้ใส่แล้ว หรือในวันนี้เสื้อคู่นั้นมันเหลือตัวเดียว เพราะไม่ว่าจะเก็บ จะใส่ วันหนึ่งมันก็อาจต้องกลายไปเป็นผ้าขี้ริ้วอยู่ดี…<br><br>

        &emsp;&emsp;&emsp;เสื้อคู่ คือเสื้อที่เหมือนกันหรือคล้ายกัน 2 ตัว บ้างก็เหมือนกันเป๊ะ ๆ บ้างก็แค่เน้นสีเดียวกัน บ้างก็มีข้อความสอดคล้องกันประกอบ
            มักเป็นเสื้อสำหรับคู่รักใส่พร้อมกัน แล้วทำให้เป็นที่สังเกตหรือมองออกได้ว่าเป็นแฟนกัน และยังมีเสื้อครอบครัว กล่าวคือเป็นเสื้อที่เหมือนกันแบบ พ่อ แม่ ลูก อีกด้วย<br><br>

        &emsp;&emsp;&emsp;เป็นที่นิยมในข่วงหลายปีที่ผ่านมา โดยอย่างยิ่งสำหรับ “คู่รักใหม่” ที่ดูเหมือนเป็นธรรมเนียมหากได้ไปท่องเที่ยวด้วยกันครั้งแรก ๆ
            มักจะต้องมี เชื่อว่าหลายคนคงมีประสบการณ์ หรืออย่างน้อยก็ได้เห็นผ่านตามาอยู่บ้าง<br><br>
        <div align="center">
           <img src="{% static 'images/divorce-2437970_960_720.png' %}" class="rounded-circle" alt="Cinque Terre"
             style="width:350px; height: 200px; border-radius: 25px 25px 25px 25px;">
        </div><br>


       <h2>ความรู้สึกแม้ไม่นาน</h2><br><h5>
         &emsp;&emsp;&emsp;เสื้อคู่เมื่อใส่แล้วอาจดูน่ารัก ไปจนน่าหมั่นไส้ บางคนไม่กล้าใส่เพราะรู้สึกเขิน หรือมองว่าไร้สาระก็ตาม
            มันเป็นเรื่องความรู้สึกและความประทับใจของคู่ที่ตั้งใจจะใส่มันในวันนั้น โดยอาจจะรู้หรือไม่รู้ว่ามันคงอยู่ได้ไม่นาน…<br><br>

        มิได้กำลังหมายความว่า ใส่เสื้อคู่แล้วจะเลิกกัน มีปัญหากัน เพียงแต่ว่า…<br><br>

        <b>ข้อแรก</b><h5> เราคงไม่ใส่เสื้อคู่กันทุกวัน หรือบ่อย ๆ แถมหลายคู่ใส่ครั้งเดียวแล้วเก็บไว้จนลืมไปเลยก็มี<br><br>

         <b>ข้อสอง</b><h5> มันอาจมีอุบัติเหตุต่อเสื้อตัวหนึ่ง เช่น ไปโดนบางอย่างจนซักไม่ออก ซักแล้วสีตก เกิดรอยขาด
            อะไรต่าง ๆ ทำนองนี้ จนทำให้เสื้อคู่ต้องกลายเป็นเสื้อตัวเดียว..<br><br>

         <b>ข้อสาม</b><h5> แม้เสื้อคู่นั้นไม่ได้เป็นแบบสองข้อแรก คือ เราจะดูแลอย่างดี ใส่ประจำ แต่มันก็ย่อมมีอายุการใช้งานของมัน
            ไม่อาจคงสภาพทุกอย่างดังเดิมได้ ย่อมต้องเปลี่ยนไปตามกาลเวลา จนถึงวันที่มันใส่ไม่ได้ หรือไม่ควรนำมาใส่แล้วนั่นเอง<br><br>

        &emsp;&emsp;&emsp;และแน่นอนมันก็ต้องมีแบบที่เสื้อคู่ ที่มันไม่คู่อีกต่อไป ในแบบที่คนใส่แยกทางกันไป แม้ เสื้อคู่
            นั้นมันอาจยังอยู่ด้วยกัน ที่ใครคนใดคนหนึ่งก็ตาม…<br><br>

        &emsp;&emsp;&emsp;เสื้อคู่และชีวิตคู่
        เรื่องนี้ไม่ได้กำลังจะบอกให้มองเสื้อคู่เป็นเรื่องเลวร้าย ในทางกลับกัน เสื้อคู่เป็นสิ่งเตือนสติในชีวิตคู่ได้ดี
            เพราะในตอนที่เราใส่เสื้อคู่กับใครนั้น มันคือช่วงเวลาแห่งความรัก และความรู้สึก ซึ่งสิ่งนี้เองเป็นสิ่งที่ต้องทำความเข้าใจไม่ต่างกันเลยสำหรับเสื้อคู่ และชีวิตคู่<br><br>

        &emsp;&emsp;&emsp;ข้อแรก เราไม่อาจจะทำให้ใครอยู่ใน “ห้วง” ความรู้สึกได้ทุกวัน หรือตลอดเวลา เพราะหากเป็นเช่นนั้น
            มันมักออกลักษณะ หวง หึง ไปจนถึงคุกคามความเป็นปกติของชีวิตอีกฝ่าย มันคล้ายกับว่าเราต้องบังคับให้เขาต้องใส่เสื้อคู่ทุกวัน ซึ่ง มันเป็นไปไม่ได้…<br><br>

        &emsp;&emsp;&emsp;ข้อสอง สิ่งที่ไม่คาดคิดเกิดขึ้นได้ในชีวิตคู่ ความผิดพลาด ความเข้าใจผิด เรียกได้ว่าเป็นอุบัติเหตุในชีวิตคู่
            เช่น บังเอิญทำสิ่งที่เขาไม่ชอบ ไม่พอใจ หรือหลงผิดไปในบางเวลา แล้วหากอีกฝ่ายยอมรับไม่ได้ว่ามันจะเกิดขึ้น เสื้อคู่นั้นย่อมกลายเป็นผ้าขี้ริ้วในทันที<br><br>

        &emsp;&emsp;&emsp;ข้อสาม คนเราย่อมเปลี่ยนแปลง ไม่ว่าจะในมุมใดก็มุมหนึ่ง ไม่มีใครเป็นแบบเดิม ๆ ได้ทุกวัน ในแง่การปฏิบัติตัวหรือใช้ชีวิตของชีวิตคู่
            เราคงไม่สามารถอยู่ภาวะเสน่หาอาวรณ์ หยอกเย้าเหมือนวัยหนุ่มสาวกันไปตลอดคงยาก หากวันเวลาล่วงเลยไป คู่รัก มักกลายเป็นคู่ทุกข์ คู่ยาก
            ซึ่งหมายความว่าคู่ที่ผ่านอะไรมามากมาย ทั้งเรื่องดี และโดยอย่างยิ่งเรื่องไม่ดี ที่พากันผ่านมายากกว่า นี่คือสิ่งที่ยังไงก็ต้องเกิดขึ้น
            แต่ก่อนจะไปถึงจุดนั้นบางคู่ก็ไม่สามารถรับการเปลี่ยนแปลงได้เลย แม้ในเรื่องเล็กน้อยก็ตาม…<br><br>

       <h2>วันนี้เสื้อคู่ วันหน้าผ้าขี้ริ้ว</h2><br>
        <h5> &emsp;&emsp;&emsp;เสื้อคู่ เสมือนเป็นตัวแทนของภาวะและช่วงเวลาแห่งความสุขสองคน มันไม่อาจคงอยู่ได้ตลอดกาล
            ตลอดเวลา ต้องมีกลายสภาพไป ยิ่งเก็บไว้นานจนเก่า ใครเจอก็อาจคิดเอาได้ว่านี่มันผ้าขี้ริ้ว ความรู้สึกและห้วงรักกับคนรักก็เช่นกัน
            วันหนึ่งย่อมจากเราไป ไม่ว่าจะจากเป็น จากตาย โรยรา ล่วงเลย…<br><br>

        &emsp;&emsp;&emsp;เพียงแต่ ระหว่างผ้าขี้ริ้ว หรือแค่เสื้อเก่า มันอาจมีเพียงเราเข้าใจ คุณค่าที่มากกว่าวัตถุนั้นย่อมสำคัญต่อความรู้สึก
          เพราะเสื้อคู่จะยังอยู่ไหม ความเป็นคู่จะยังดำเนินต่อไปหรือไม่ หากเพียงเข้าใจเก็บเกี่ยวสิ่งดี ๆ ไว้ได้ อะไร ๆ ก็ยังคงอยู่
                            แต่หากไม่ต้องการมันอีกต่อไป แม้เสื้อคู่นั้นยังสมบูรณ์เพียงใด มันก็มีค่าไม่ต่างจากผ้าขี้ริ้วอยู่ดี…</h5></h5></h5></h5></h5></h5></h5><br><br>
        <div align="right" style="color: #000000">
            <a href="https://sirichaiwatt.com/" target="_blank" class="text-black">เครดิต : hhttps://1th.co/go5Jy5Jy5Jy</a>
        </div>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
<div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
 </div>
</div>
</div><br>

{% endblock %}