{% extends "base.html" %}
<STYLE TYPE="TEXT/CSS"><!--
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
</STYLE>
{% load static %}
{% block content %}
     <div class="row" >
  <div class="col-sm-1">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
  </div>
  </div>
  <div class="col-sm-10">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; " >
      <div class="card-body">
        <h1 class="card-title" style="font-family: 'Bodoni MT'" align="center">"วิ้งจกหางขาด"</h1><br><br><br>
          <div align="center">
           <img src="{% static 'images/downlกเกoad.png' %}" class="rounded-circle" alt="Cinque Terre"
             style="width:250px; height: 200px; border-radius: 25px 25px 25px 25px;">
        </div><br>
        <h5 class="card-title" style="font-family: 'Bodoni MT'">&emsp;&emsp;&emsp;หางจิ้งจกขาดได้ มันไม่ตาย ไม่เรียกว่าพิการ
            บางสิ่งในชีวิตคนเราก็เช่นกัน เราขาดมันได้ ไม่ตาย แต่หากเมื่อใดที่เรายึดติดไม่ยอมปล่อยไป ก็คงคล้ายเมื่อถึงเวลาสำคัญ แล้วจิ้งจกนั้นไม่ยอมตัดหางตัวเอง…<br><br>

        &emsp;&emsp;&emsp;คงเคยเห็นกัน บางครั้งที่จิ้งจก หรือสัตว์เลื้อยคลานประเภทกิ้งก่า มันไปไหนมาไหนโดยไม่มีหาง หลายคนทราบดีว่านี่มันอาจเพิ่งรอดตายมา
            เพราะสัตว์เหล่านี้มีความสามารถพิเศษในการเอาตัวรอดจากสัตว์นักล่าอื่น ๆ ด้วยการสลัดหางทิ้งไว้เพื่อเบี่ยงเบนความสนใจ<br><br>

        &emsp;&emsp;&emsp;อันที่จริงแม้หางจะงอกได้ใหม่ แต่ก็ใช่ว่าจะเหมือนเดิมเสียทีเดียว เพราะนอกจากต้องใช้เวลาแล้ว ยังมีผลต่อการเจริญเติบโต
            รวมถึงมีผลทางร่างกายบางอย่างที่แตกต่างกันไป แต่มันคงเล็กน้อยเมื่อเทียบกับต้องเสียชีวิตไปเลย…<br><br>

        &emsp;&emsp;&emsp;มนุษย์แม้ไม่มีหางที่งอกใหม่ได้ แต่กลับยึดติดหลายสิ่งยิ่งกว่าหางของจิ้งจกเสียอีก ทั้งที่อาจไม่ใช่ส่วนสำคัญของชีวิต
            อีกทั้งบางสิ่งที่ต้องเสียไปนั้น หากยังมีชีวิต เราอาจสร้างสิ่งนั้นได้ดีกว่าเดิมด้วยซ้ำ<br><br>

        &emsp;&emsp;&emsp;ไม่ว่าจะเสียแฟน, เสียเงิน, เสียงาน, เสียศักดิ์ศรี แม้กระทั่งเสียเวลา เหล่านี้เราสร้างได้ เปลี่ยนได้ หาใหม่ได้ และเริ่มใหม่ ที่อาจดีกว่าเดิมได้ทั้งสิ้น…<br><br>

        &emsp;&emsp;&emsp;เพียงแต่หลายคนไม่ยอมตัด ไม่ยอมปล่อย ยึดไว้ ลากไป แบกไปจนตาย ทั้งที่มันไม่ใช่อวัยวะ หรือส่วนหนึ่งของเราตอนเกิดมาแท้ ๆ<br><br>

        &emsp;&emsp;&emsp;บางทีคนเราจะอยากมีหางที่มองไม่เห็น แล้วหลุดไม่ได้ ตัดไม่ได้ไปทำไมกัน?</h5></h5></h5></h5></h5></h5></h5><br><br>
        <div align="right" style="color: #000000">
            <a href="https://sirichaiwatt.com/" target="_blank" class="text-black">เครดิต : hhttps://1th.co/go5Jy5Jy5Jy</a>
        </div>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
<div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
 </div>
</div>
</div><br>

{% endblock %}