{% extends "base.html" %}
<STYLE TYPE="TEXT/CSS"><!--
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
</STYLE>
{% load static %}
{% block content %}
     <div class="row" >
  <div class="col-sm-1">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
  </div>
  </div>
  <div class="col-sm-10">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; " >
      <div class="card-body">
        <h1 class="card-title" style="font-family: 'Bodoni MT'" align="center">“ฉลาด” กับ “คิดเป็น”</h1><br>
          <div align="center">
           <img src="{% static 'images/กหเหกเ.png' %}" class="rounded-circle" alt="Cinque Terre"
             style="width:220px; height: 200px; border-radius: 25px 25px 25px 25px;">
        </div><br>
        <h5 class="card-title; " style="font-family: 'Bodoni MT'">&emsp;&emsp;&emsp;ความ “ฉลาด” กับการ “คิดเป็น”
            ผิวเผินอาจดูคล้าย แต่ดูให้ดีช่างแตกต่าง เพราะ “คนคิดเป็น อาจไม่ต้องฉลาด คนฉลาด อาจคิดไม่เป็น”<br><br>

        คำคมดีๆ คนคิดเป็นอาจไม่ต้องฉลาด<br><br>

        &emsp;&emsp;&emsp;ในบริบทหนึ่ง ความฉลาดอาจสะท้อนถึง ไหวพริบ เชาว์ปัญญา
            ความฉับไวทางความคิด ดูจะเป็นแนวใครดีใครได้ ใครไว ใครเด่น ใครเห็นคนนั้นได้โอกาส…<br><br>

        &emsp;&emsp;&emsp;แต่การ “คิดเป็น” ย่อมมาจากประสบการณ์ และสิ่งสำคัญ คือ สติ
            กับการเรียนรู้ ดังที่ทราบดี ฉลาดแค่ไหนก็พลาดได้ แต่จะฉลาดหรือไม่ หากผิดพลาดหรือเกิดอะไรขึ้นแล้วไม่มีสติ ไม่เรียนรู้ ไม่ดูตัวเอง ก็ยากจะ คิดเป็น<br><br>

        &emsp;&emsp;&emsp;ความฉลาดสร้างความได้เปรียบได้ง่ายในหลายโอกาส แต่การคิดเป็น สร้างความยั่งยืน ก้าวหน้า และความสมบูรณ์<br><br>

        &emsp;&emsp;&emsp;เพราะหากฉลาดแต่คิดไม่เป็น เช่น ฉลาดแกมโกง ฉลาดแต่เรื่องเฉพาะหน้า ไปจนถึง “อวดฉลาด” ซึ่งแม้จะฉลาดจริง
            แต่ผลลัพธ์มันจะไม่สะท้อนความฉลาดเลยในอนาคต<br><br>

        &emsp;&emsp;&emsp;แน่นอนว่า หากฉลาดและคิดเป็นด้วยคือสิ่งที่ดีมาก หรือในบางคนเขาบอกว่า “ฉลาดแล้วต้องเฉลียว” นั่นก็คล้ายกัน

        แต่ก็เพราะเราไม่อาจฉลาดได้ทุกเรื่องทุกเวลา การคิดเป็นจึงสำคัญเสมอ<br><br>

        &emsp;&emsp;&emsp;แต่ที่น่าห่วงที่สุดคือ ไม่ฉลาด แถมยังคิดไม่เป็น คนเช่นนี้เห็นทีจะผิดซ้ำซาก หลงทางไปตลอด
            มีอะไรก็คงไม่เหลือ มิใช่แค่ทรัพย์สิน เงินทอง แต่หลาย ๆ อย่างรวมทั้งอนาคต เพราะมีประสบการณ์ เจอสถานการณ์ใดแต่
            “คิดไม่เป็น” เลย คนฉลาดมากแค่ไหน ก็ช่วยเขาไม่ได้หรอก…<br><br>

        เราฉลาดแค่ไหนจึงอาจไม่สำคัญ วันนี้ทบทวนหรือยัง เรื่องไหนที่เรายังคิดไม่ได้ คิดไม่เป็นเสียที…</h5></h5></h5></h5></h5></h5></h5><br><br>
        <div align="right" style="color: #000000">
            <a href="https://sirichaiwatt.com/" target="_blank" class="text-black">เครดิต : hhttps://1th.co/go5Jy5Jy5Jy</a>
        </div>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
<div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
 </div>
</div>
</div><br>

{% endblock %}