{% extends "base.html" %}
<STYLE TYPE="TEXT/CSS"><!--
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
</STYLE>
{% load static %}
{% block content %}
     <div class="row" >
  <div class="col-sm-1">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
  </div>
  </div>
  <div class="col-sm-10">
    <div class="card" style="border-radius: 25px 25px 25px 25px; width:px; " >
      <div class="card-body">
        <h1 class="card-title" style="font-family: 'Bodoni MT'" align="center">“เงินซื้อความสุขไม่ได้ จริงไหม?”</h1><br>
          <div align="center">
           <img src="{% static 'images/กหเหกเ.png' %}" class="rounded-circle" alt="Cinque Terre"
             style="width:220px; height: 200px; border-radius: 25px 25px 25px 25px;">
        </div><br>
        <h5 class="card-title; " style="font-family: 'Bodoni MT'">&emsp;&emsp;&emsp;วาทะกรรมประมาณว่า “ถ้าเงินซื้อความสุขไม่ได้ งั้นโอนมาให้(กู)เรา”
            ย่อมถูกใจคนส่วนใหญ่ โดยไม่เกี่ยวว่าลึก ๆ แล้ว จะเห็นด้วยหรือไม่ เหตุผลเบื้องต้นไม่ซับซ้อนอะไร ในเมื่อใคร ๆ ก็ยังต้องการเงินอยู่<br><br>

&emsp;&emsp;&emsp;เมื่อเรามองรอบ ๆ ตัวจะมีสักกี่คนที่มีเงินมากพอเหลือเฟือให้พูดว่า “เงินซื้อความสุขไม่ได้” อย่างเต็มปากเต็มคำ คนระดับเศรษฐีนั้นมีไม่กี่เปอร์เซ็นต์ อภิมหาเศรษฐี
            (รวยเกินพันล้านดอลล่าร์) มี 3 พันกว่าคน ขณะที่โลกมีประชากร 7 พันกว่าล้านคน (ปี ค.ศ.2021) คิดแบบคร่าว ๆ ได้เพียงประมาณ 0.0000004 เปอร์เซ็นต์ เท่านั้น<br><br>

&emsp;&emsp;&emsp;ซึ่งไม่ต้องระดับอภิมหาเศรษฐีก็ได้ อนุมานคร่าว ๆ เอาว่าแค่ว่า 1% คือคนที่มีเงินมากพอ ให้ซื้ออะไรได้สมใจอยาก ดังนั้นอีก 99% ย่อมเป็นผู้ที่ต้องการเงิน
            แม้นี่คือความเหลื่อมล้ำของสังคมที่หนักข้อขึ้นทุกวันจนทำให้หลายคนอาจดิ้นรนมากขึ้นเพื่อเงิน แต่ไม่ได้กำลังบอกว่า ทั้ง 99% นั้น จะเชื่อว่าเงินซื้อความสุขได้..<br><br>

เงินซื้อความสุข(ไม่)ได้ ?
&emsp;&emsp;&emsp;“มีเงินดีกว่าไม่มีเงิน” หรือ มีมากดีกว่ามีน้อย กล่าวแค่นี้คงไม่มีใครแย้งเป็นแน่ เพราะในคนที่พูดว่า เงินซื้อความสุขไม่ได้นั้น
            เขาก็ไม่ได้กำลังหมายความว่า “ไม่มีเงินแล้วจะสุขกว่า” เสียเมื่อไหร่ (ดังนั้นเขาไม่โอนให้เราหรอก 😛)<br><br>

&emsp;&emsp;&emsp;ในด้านหนึ่งก็ใช่ว่าต้องเป็นคนที่มี หรือเคยมีเงินมาก ๆ เท่านั้น จึงมีสิทธิ์มองว่า เงินซื้อความสุขไม่ได้ เช่นเดียวกับ ไม่ใช่แค่คนที่ไม่มีเงิน
            ขาดเงินเท่านั้นที่มองว่า เงินซื้อความสุขได้ เพราะในคนที่มีเงินเขาก็มองว่าเงินซื้อความสุขได้ก็มี<br><br>

&emsp;&emsp;&emsp;พูดไปก็ไม่จบก็เพราะ “ความสุขคนเราไม่เหมือนกัน” และไม่เท่านั้น ถ้าความสุขของบางคนคือ มีรถเท่ ๆ, ได้ใส่เครื่องประดับสวย ๆ,
            หรือเป็นสิ่งของต่าง แน่นอนเงินซื้อได้ แต่ถ้าความสุขของบางคนคือการได้เล่นกับลูก การได้เที่ยวป่า การได้ทำงานอดิเรก หรือ
            การถูกรัก เช่นนี้เงินซื้อไม่ได้ หรืออีกนัยหนึ่งคือไม่จำเป็นต้องใช้เงินซื้อ<br><br>

&emsp;&emsp;&emsp;หากจะถามต่อว่าแล้วแบบนั้นมันสุขแท้หรือไม่ เรามิอาจตัดสินหรือเป็นอีกประเด็นก็ว่ากันไป เพราะความสุขคนเราไม่เหมือนกัน<br><br>

&emsp;&emsp;&emsp;นอกจากนั้น “ความสุข” คนเราก็มักมีมากกว่า 1 อย่าง ดังนั้นความสุขของคนหนึ่งคน บางเรื่อง เงินก็ซื้อได้
            บางเรื่องก็ซื้อไม่ได้ เหล่านี้น่าจะพอเป็นคำตอบว่า เงินซื้อความสุขได้/ไม่ได้ ขึ้นอยู่กับว่าความสุขของคนนั้นเป็นแบบไหน…<br><br>

&emsp;&emsp;&emsp;เงินซื้อบางความสุขได้ และ บางความทุกข์ เงินช่วยอะไรไม่ได้<br><br>

&emsp;&emsp;&emsp;ทั้งนี้ในภาวะของผู้ที่พูดว่า “เงินซื้อความสุขไม่ได้” อาจหมายถึงเมื่อ “ทุกข์” เสียมากกว่า เช่นคนที่กำลังป่วยแบบไม่มีทางรักษา,
            คนที่สูญเสียสิ่งที่รักไป, คนที่อยากแก้ไขในสิ่งผิดให้กลับคืนมา, คนที่เคยใช้เงินไปผิดที่ผิดทาง และคนที่ไม่เคยรู้ว่า
            ที่จริงแล้วความสุขของตัวเองคืออะไร เมื่อเงินไม่สามารถแก้ไข หรือช่วยให้ออกจากภาวะทุกข์นั้นได้ เช่นนี้ เงินไม่มีความหมายจริง ๆ<br><br>

&emsp;&emsp;&emsp;เราจึงอาจกล่าวได้ว่า “เงินซื้อบางความสุขได้ และ บางความทุกข์ เงินช่วยอะไรไม่ได้” หรือไม่ก็ “เงินซื้อความสุขได้
            แต่ทำให้เราพ้นทุกข์ไม่ได้” ขึ้นอยู่กับว่าสุขทุกข์ของใครคนนั้นเป็นอย่างไร<br><br>

&emsp;&emsp;&emsp;เงิน ความสุข และ ความทุกข์
เมื่อมีเงิน อาจมีสุข และ มีเงิน อาจไม่ต้องทุกข์
แต่ความสุข กับ ความทุกข์ เป็นคนละเรื่องกัน
ดังนั้น มีเงินอาจมีสุข แต่ก็อาจมีทุกข์ได้ หรือมีเงินอาจพ้นทุกข์ แต่ก็ใช่ว่าจะมีความสุข ได้เช่นกัน<br><br>

&emsp;&emsp;&emsp;ทุกข์ที่มาจาก “การขาด” ในสิ่งที่ซื้อได้ เมื่อเงินมากพอ ทุกข์ย่อมหายไป
สุขจากการ “ได้มา” ในสิ่งที่ซื้อได้ เมื่อเงินมากพอ อาจมีสุข<br><br>

&emsp;&emsp;&emsp;แต่ “การขาด” สิ่งใดย่อมมิใช่ความ “ไม่พอ” มิเช่นนั้น ซื้อเท่าไหร่ก็ไม่พ้นทุกข์
และหากการ “ได้มา” ในสิ่งที่หาใช่สุขแท้ไม่ ซื้อมาเท่าไหร่ ก็ไม่สุข เช่นกัน<br><br>

&emsp;&emsp;&emsp;หากถ้า “ความสุข คือการแค่ ไม่ทุกข์” นั่นอาจทำให้ ไม่รู้สึกขาด ไม่รู้สึกอยาก เงินมาก ก็ไม่จำเป็น…<br><br>

&emsp;&emsp;&emsp;ปล.คำว่า “มีเงิน” ในทีนี้เราคงทราบกันดีหมายถึง “มีเงินมาก ร่ำรวย” และคำว่า “ไม่มีเงิน” ย่อมหมายถึงไม่ได้มีมากมายร่ำรวย หากเป็นแบบ “ขัดสน”
            อันนั้นอย่างไรก็ย่อมทุกข์ในโลกปัจจุบัน ละไว้ในฐานที่เข้าใจ</h5></h5></h5></h5></h5></h5></h5><br><br>
        <div align="right" style="color: #000000">
            <a href="https://sirichaiwatt.com/" target="_blank" class="text-black">เครดิต : hhttps://1th.co/go5Jy5Jy5Jy</a>
        </div>
        </h5>
      </div>
    </div>
  </div>
  <div class="col-sm-1">
<div class="card" style="border-radius: 25px 25px 25px 25px; width:px; height: 200px ; border: #e5e6e7" align="center" >
 </div>
</div>
</div><br>

{% endblock %}