{% extends "base.html" %}
{% load static %}
{% block content %}
    <div align="center">
        <h2 style="font-family: 'Bodoni MT'; font-size: 40px"><p> Career </p></h2>
    </div>
    <table class="table border-0" style="background-color: #ffffff; border-radius: 25px 25px 25px 25px;">
        <tr style="border: #ffffff">
            <th class="col-3">
                <div align="left" style="border-radius: 25px 25px 25px 25px;">
                    <img src="{% static 'images/it-support-icon-7.jpg' %}" alt="Cinque Terre"
                         style="width:330px; height: 300px; border-radius: 25px 25px 25px 25px;">
                </div>
            </th>
            <th class="col-9"><br><br> <br><br>
                <h2 style="font-family: 'Bodoni MT'" align="left"><b>“IT Support”</b></h2>
                <h5 style="font-family: 'Bodoni MT'" align="left">&emsp;&emsp;IT Support คือ
                    เจ้าหน้าที่ให้ความช่วยเหลือในการแก้ไขปัญหา ต่าง ๆ
                    ด้านระบบเทคโนโลยีสารสนเทศให้สามารถใช้งานได้เป็นปกติ หรือรับหน้าที่ต่อจาก Helpdesk Support
                    เพื่อเข้าแก้ไขปัญหาที่หน้างานต่อไป ทักษะจำเป็นที่ต้องใช้คือ
                    Hardware & Software troubleshooting skills, System & Network skills</h5>
            </th>
            </th>
        </tr>
    </table><br>


{% endblock %}