{% extends "base.html" %}
{% block content %}
    <h2 class="bg-opacity-50 text-black align-items-center font-monospace "
        align="center" style="font-size: 40px">Educational</h2>

    ประวัติการศึกษา </h2>
    <center>
        <div class="col-10">
            <table class="table table-light bg-white">
                <thead style="background-color: #0f5132">
                <tr>
                    <th>ระดับชั้น</th>
                    <th>สถานศึกษา</th>
                    <th>ปีการศึกษา</th>
                    <th>เกรดเฉลี่ย</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>ปวส.1</td>
                    <td>วิทยาลัยการอาชีพกุมภวาปี</td>
                    <td>1/2562</td>
                    <td>3.25</td>
                </tr>
                <tr>
                    <td>ปวส.1</td>
                    <td>วิทยาลัยการอาชีพกุมภวาปี</td>
                    <td>2/2562</td>
                    <td>3.62</td>
                </tr>
                <tr>
                    <td>ปวส.2</td>
                    <td>วิทยาลัยการอาชีพกุมภวาปี</td>
                    <td>1/2563</td>
                    <td>3.92</td>
                </tr>
                <tr>
                    <td>ปวส.2</td>
                    <td>วิทยาลัยการอาชีพกุมภวาปี</td>
                    <td>2/2563</td>
                    <td>4.00</td>
                </tr>
                <tr>
                    <td>ปริญญาตรีปีที่ 3</td>
                    <td>มหาวิทยาลัยเทคโนโลยีราชมงคลอีสาน วิทยาเขตขอนแก่น</td>
                    <td>1/2564</td>
                    <td>3.80</td>
                </tr>

                </tbody>
            </table>
        </div>
    </center>
    <br><br><br>
{% endblock %}