{% load static %}

<a href="{% url 'home' %}" class="navbar-brand ">
    <img src="{% static 'images/home3.jpg' %}" alt="logo"
         style="width:1490px; height: 270px ; border-radius: 25px 25px 25px 25px">

</a>
<marquee direction="left" style="border-radius: 25px 25px 25px 25px">welcome to my web page [ One of the secrets to
    happiness is Stop worrying
    about what other people think about us. หนึ่งในเคล็ดลับของความสุขคือ เลิกกังวลว่าคนอื่นจะคิดอย่างไรกับเรา ][The
    things that we love tell us what we are.
    สิ่งที่เรารักจะบ่งบอกสิ่งที่เราเป็น
    ]
</marquee>
