{% extends "base.html" %}
{% load static %}
{% block content %}
    <div align="center">
        <h2 style="font-family: 'Bodoni MT'; font-size: 40px"><p> Interest </p></h2>
    </div>
    <table class="table border-0" style="background-color: #ffffff; border-radius: 25px 25px 25px 25px;">
        <tr style="border: #ffffff">
            <th class="col-5">
                <div align="center">
                    <img src="{% static 'images/117530305.png' %}" class="rounded" alt="Cinque Terre"
                         style="width:300px; height: 300px;">
                </div>
            </th>
            <th class="col-2">

            </th>
            <th class="col-5">
                <div align="center">
                    <img src="{% static 'images/7212235_preview.png' %}" class="rounded" alt="Cinque Terre"
                         style="width:300px; height: 300px;">
                </div>
            </th>
        </tr>
    </table>
    <table class="table border-0" style="background-color: #ffffff; border-radius: 25px 25px 25px 25px;">
        <tr style="border: #ffffff">
            <th class="col-5">
                <h2 style="font-family: 'Bodoni MT'" align="center"><b>Adobe Lightroom</b></h2>
                <h5 style="font-family: 'Bodoni MT'">&emsp;&emsp;คือซอฟต์เเวร์ โปรแกรม แอปพลิเคชั่น ที่ใช้ในการเเต่งภาพ
                    ซึ่งความสามารถของซอฟต์เเวร์คือการจัดการไฟล์ต่าง ๆ ได้ดี ถ้ามีรูปภาพเยอะ สามารถเเยกหมวดหมู่ได้
                    มีการจัดการที่ละเอียดเหมาะสำหรับมืออาชีพ
                    หน้าจอจะมีการสัดส่วนการทำงานอย่างชัดเจน เมื่อจะตกเเต่งภาพเครื่องมือจะถูกเเบ่งไว้เป็นหมวดหมู่
                    เช่นด้านซ้ายจะเป็นภาพรวมทั้งหมด ตรงกลางจะเป็นตัวอย่างภาพขนาดใหญ่
                    ส่วนด้านล่างเป็นส่วนของภาพที่กำลังจะเรียกมาทำงาน ด้านขวา เมื่อกด develop
                    จะเปลี่ยนเป็นส่วนการตกเเต่งภาพ และเครื่องมือที่ใช้
                </h5><br>
            </th>
            <th class="col-2">

            </th>
            <th class="col-5">
                <h2 style="font-family: 'Bodoni MT'" align="center"><b>Adobe Photoshop</b></h2>
                <h5 style="font-family: 'Bodoni MT'">&emsp;&emsp;มักเรียกสั้นๆ ว่า โฟโตชอป
                    เป็นโปรแกรมประยุกต์ที่มีความสามารถในการจัดการแก้ไขและตกแต่งรูปภาพ (photo editing and retouching)
                    แบบแรสเตอร์ ผลิตโดยบริษัทอะโดบีซิสเต็มส์ ซึ่งผลิตโปรแกรมด้านการพิมพ์อีกหลายตัวที่ได้รับความนิยม เช่น
                    Illustrator
                    และ InDesign ปัจจุบันโปรแกรมโฟโตชอปได้พัฒนามาถึงรุ่น CC (Creative Cloud)</h5><br>
            </th>
        </tr>
    </table>
    <table class="table border-0" style="background-color: #ffffff; border-radius: 25px 25px 25px 25px;">
        <tr style="border: #ffffff">
            <th class="col-3">
                <div align="left" style="border-radius: 25px 25px 25px 25px;">
                    <img src="{% static 'images/56214421_426234474587352_2885470355005112320_n.jpg' %}"
                         alt="Cinque Terre"
                         style="width:300px; height: 300px; border-radius: 25px 25px 25px 25px;">
                </div>
            </th>
            <th class="col-9"><br><br>
                <h2 style="font-family: 'Bodoni MT'" align="left"><b>“ถ่ายรูป”</b></h2>
                <h5 style="font-family: 'Bodoni MT'" align="left">&emsp;&emsp;ในยุคสมัยที่ความต้องการด้านอาชีพเริ่มเปลี่ยนแปลงไป
                    ทำให้ใครหลายคนหันมามองอีกหนึ่งอาชีพที่กำลังได้รับความนิยมจากคนรุ่นใหม่และมีงานรองรับอยู่มากมาย
                    นั่นก็คือ “ช่างภาพอิสระ” ซึ่งผู้ที่จะมาเป็นช่างภาพได้นั้น จะต้องมีความชำนาญในการถ่ายภาพโดยใช้กล้อง
                    และมีความสามารถในการจัดวางองค์ประกอบที่จะปรากฏในรูปภาพก่อนลงมือถ่าย<br>
                    &emsp;&emsp;ดังนั้นช่างภาพจำเป็นต้องเข้าใจในเรื่องของแสงและองค์ประกอบต่างๆ
                    จึงจะสามารถถ่ายภาพออกมาได้อย่างสมบูรณ์แบบและสวยงาม
                    โดยช่างภาพแต่ละคนก็จะมีวิธีการนำคุณสมบัติของแสง
                    มาประยุกต์ใช้ให้เป็นศิลปะได้อย่างแตกต่างในแบบฉบับของตัวเอง
                    หรืออาจมีวิธีในการนำเสนองานที่แตกต่างกันไปตามความคิดและจินตนาการ</h5><br>
            </th>
            </th>
        </tr>
    </table>
{% endblock %}
