<br>
<STYLE TYPE="TEXT/CSS"><!--
A:link {text-decoration:none;}
A:visited {text-decoration:none;}
</STYLE>
<ul class="list-group " style="border-radius: 25px 25px 25px 25px" >
    <li class="list-group-item" style="background-color: #000000">
        <i class="fa fa-right-to-bracket" style="color: #ffffff;  "> LOGIN3333333333333333 </i>
    </li>
    <li class="list-group-item btn-outline-light">
            <i class="fa fa-home " style="color:#d5d7d8; "></i> Home
        </a>
    </li>
</ul><br>

<ul class="list-group " style="border-radius: 25px 25px 25px 25px" >
    <li class="list-group-item" style="background-color: #000000">
        <i class="fa fa-list " style="color: #ffffff;  "> Menu </i>
    </li>
    <li class="list-group-item btn-outline-light">
        <a href="{% url 'home' %}"style="color: #313334">
            <i class="fa fa-home " style="color:#d5d7d8; "></i> Home
        </a>
    </li>
    <li class="list-group-item btn-outline-light">
        <a href="{% url 'profile' %}"style="color: #313334">
            <i class="fa fa-address-book" style="color: #d5d7d8"></i> My Profile
        </a>
    </li>
    <li class="list-group-item btn-outline-light">
        <a href="{% url 'Interest' %}"style="color: #313334">
            <i class="fa fa-city"style="color: #d5d7d8"></i> Interest
        </a>
    </li>
    <li class="list-group-item btn-outline-light">
        <a href="{% url 'Career' %}"style="color: #313334">
            <i class="fa fa-comment-dollar"style="color: #d5d7d8"></i> Career
        </a>
    </li>
    <li class="list-group-item btn-outline-light">
        <a href="{% url 'RoleModel' %}"style="color: #313334">
            <i class="fa fa-user-friends"style="color: #d5d7d8"></i> Role Model
        </a>
    </li>
       <li class="list-group-item btn-outline-light">
        <a href="{% url 'Article' %}"style="color: #313334">
            <i class="fa fa-book-open"style="color: #d5d7d8"></i> Article
        </a>
    </li>
    <li class="list-group-item btn-outline-light">

        <a href="{% url 'etc' %}"style="color: #313334">
            <i class="fa fa-arrow-alt-circle-up"style="color: #d5d7d8"></i> etc.
        </a>
    </li>
     <li class="list-group-item btn-outline-light">

        <a href="{% url 'myLab10' %}"style="color: #313334">
            <i class="fa fa-project-diagram"style="color: #d5d7d8"></i> myLab10
        </a>
    </li>
    <li class="list-group-item btn-outline-light">

        <a href="{% url 'myLab11' %}"style="color: #313334">
            <i class="fa fa-project-diagram"style="color: #d5d7d8"></i> myLab11
        </a>
    </li>
    <li class="list-group-item btn-outline-light">

        <a href="{% url 'goods' %}"style="color: #313334">
            <i class="fa fa-project-diagram"style="color: #d5d7d8"></i> myLab12 (showGoods)
        </a>
    </li>
      <li class="list-group-item btn-outline-light">

        <a href="{% url 'Customer' %}"style="color: #313334">
            <i class="fa fa-project-diagram"style="color: #d5d7d8"></i> myLab12 (showCustomer)
        </a>
    </li>
</ul>
<br><br><br><br>